*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.container  {
  height: 100vh;
  width: 100vw;

  background-color: #008080;
}

.container ul > li{
  list-style: none;
}

.active {
  color: blue;
}
