<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- Bootstrap (CSS) -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Vue - intro</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="app" class="container">
            <div class="slider-wrapper">
              <div class="prev" @click="prevImg">
                <i class="fas fa-angle-left"></i>
              </div>

              <div class="images">
                <img :src="imgs[activeIndex]">
              </div>

              <div class="prev" @click="nextImg">
                <i class="fas fa-angle-right"></i>
              </div>

              <div class="nav">
                <!-- forma estesa -->
                <!-- <i class="fas fa-circle active"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i>
                <i class="fas fa-circle"></i> -->

                <!-- forma contratta -->
                <!-- <i class="fas fa-circle active" v-for="ind in imgs.lenght"></i> -->
                <i class="fas fa-circle active" :class="(ind - 1 == activeIndex) ? 'active' : ''" v-for="ind in imgs.lenght"></i>

                <!-- oppure con i numeri -->
                <!-- <p v-for="ind in imgs.length"></p> -->

              </div>
            </div>
        </div>
    </body>
</html>
